H1 {
    color: black;
}

H2{
    color: grey;
}

#p1{
    Color: orange;
}

#p2{
    Color: green;
}

#p3{
    Color: grey;
}

h4{
    Color: Black;
}

h6{
    Color: Black;
}

h3{
    Color: Black;
}

h5{
    Color: Black;
}

#li{
    Color: green;
}

img{
    height: 300px
}

mt-1 {
    margin-top: 1 !important;
  }

body{
    background-image:url(background.JPG); background-size: cover;
}
